#d1{
    margin: 0px;
    border: 1px solid gray;
    width: 100%;
    padding: 10px;
    
}
.divInterna{
    margin: 10px;
    border: 1px solid gray;
    width: 90%;
    padding: 10px;
}

.divInterna::after {
    content: ""
}